.timerBtn{
    width: 80px;
    height: 30px;
    border: 3px seagreen;
    border-radius: 10px;
    background-color:#11d66a;
    color: aliceblue;
    cursor: pointer;
    font-family:consolas, monospace;
}

#timeDisplay{
    font-size: 75px;
    color:#11d66a;
    font-family:consolas, monospace; 
}
#timeContainer{
    text-align: center;
    border: 3px solid;
    border-radius: 25px;
    background-color: black;
}